<header class="header js-header">
    <div class="header__container">
        <div class="header__inner">
            {% include "../atoms/logo.twig" %}
            <!-- {% include "../atoms/toggle-mode.twig" %} -->
        </div>
    </div>
</header>
