.portrait {
    position: relative;
    display: flex;
    width: 100%;
    // max-width: map-get($breakpoints, lg);
    max-width: to-rem(500px);
    height: calc((var(--vh) * 100) - var(--hh));
    margin-right: auto;
    margin-left: auto;

    img {
        width: 100%;
        margin: auto;
        padding: to-rem(15px);
        border-radius: 50%;
    }
}