.toggle {
    @include button-unstyled;
    // position: relative;
    // width: 100%;
    // max-width: map-get($breakpoints, lg);
    // height: calc((var(--vh) * 100) - var(--hh));
    // margin-right: auto;
    // margin-left: auto;
    // color: $global-bg-dark;

    width: 50px;
    height: 50px;

    svg {
        // @include lateral-spacing;
        // @include fluid-calc('padding-top', (to-rem(15px), to-rem(30px)));
        // @include fluid-calc('padding-bottom', (to-rem(15px), to-rem(30px)));

        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;

        width: 100%;
        display: block;
        height: 100%;
    }

    html.dark-mode & {
        // color: $color-white;
        color: rgba($highlight-color, 0.5);
        // animation: glow 4s infinite;
    }
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.02;
    }

    100% {
        opacity: 0;
    }
}