{% extends "../templates/page.twig" %}
{% set page_title = "Startseite" %}
{% set page_modifier = "home" %}

{% block main %}
{#
    {% include "../atoms/scarecrow.twig" %}
#}
{% endblock %}

{#
{% embed "../templates/section.twig" with {
    section_title: 'Abschnitt Titel',
    data_styles: 'highlight md ╧-g-md ╤-g-sm'
} %}
    {% block section %}

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus doloribus eligendi facere fugiat, fugit iure laborum nam neque numquam odit officiis placeat quisquam recusandae reprehenderit sit soluta, temporibus ut.
        </p>

    {% endblock %}
{% endembed %}
#}
