{#<a class="logo" href="/" target="_self">#}
{#    <span>Mr Patrick</span>#}
{#</a>#}

{#<button id="logo" class="logo" aria-label="Toggle light/dark mode">#}
{#    <span>Mr Patrick</span>#}
{#</button>#}

<div class="name">
    <span>Mr Patrick</span>
</div>