.header {
    @include fluid-calc('padding-top', (to-rem(15px), to-rem(30px)));

    &__container {
        max-width: map-get($breakpoints, lg);
        margin-right: auto;
        margin-left: auto;
    }

    &__inner {
        @include lateral-spacing;

        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
